@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700');

body {
	//background: #f0f0f0;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	color: #2c3e50;
}

section {
	// background: #eee;
	background-image: linear-gradient(100deg, #183549 10%, #15232D 100%);
	padding: 40px 0;
	color: white;
}

section a {
	text-decoration: none;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

h1 .green {
	color: #42b983;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 10px;
}

h3 {
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	margin: 48px 0 14px;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 8px;
	color: #42b983;
}

h5 {
	font-size: 14px;
	color: #7f8c8d;
	margin: 12px 0;
}

pre, code {
	font-family: monospace;
}

p {
	line-height: 1.6;
	margin-bottom: 12px;
}

aside {
	font-style: italic;
	font-size: 14px;
	line-height: 1.4;
	color: #7f8c8d;
}

a {
	color: #42b983;
}

.right-align {
	text-align: right;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

svg {
	vertical-align: middle;
}

.wrapper {
	max-width: 1024px;
	margin: auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

.code-sample {
	display: flex;
	flex-wrap: wrap;
}

.code-sample h3 {
	flex: 1 0 100%;
}

.column {
	flex: 1 1 50%;
	min-width: 350px;
	padding: 15px;
}

.column.angular h4, .column.angular a {
	color: #E53030;
}