<!doctype html>
	<head>
		<title>AngularToVue</title>
    	<meta name="description" content="Easy ways to translate your Angular 1 apps to VueJS. (Or, things I wish I had known when switching to VueJS.)"/>
    	<meta name="google-site-verification" content="cJWM3IL9QoanQap1dlAX2zriJNs7DFKs3WW9rye0sJ8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link type="text/css" rel="stylesheet" href="css/github-gist.css">
		<link type="text/css" rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="app">
			<section>
				<div class="wrapper">
					<div class="flex-container">
						<div class="column">
							<h1>Angular to <span class="green">Vue</span></h1>
							<h2>Easy ways to translate your Angular 1 apps to VueJS.</h2>
							<aside>(Or, things I wish I had known when switching to VueJS.)</aside>
						</div>
						<div class="column right-align">
							<p>A project by <a href="https://www.twitter.com/@_taylorpalmer">@_taylorpalmer</a></p>
							<div>
								<p>
									<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgithub.com%2Ftpalmer75%2FAngularToVue%2F&via=_taylorpalmer&text=Some%20easy%20ways%20to%20switch%20from%20Angular%201%20to%20VueJS&hashtags=vue%2Cvuejs">
										<span>Tweet about AngularToVue</span>
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#1da1f2"><path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg>
									</a>
								</p>
								<p>
									<a href="https://github.com/tpalmer75/AngularToVue/">
										<span>Star AngularToVue on Github</span>
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff"><path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" /></svg>
									</a>
								</p>
							</path>
						</div>
					</div>
				</div>
			</section>
			<div class="wrapper" v-cloak>
				<div class="search">
					<input type="text" placeholder="Directives, orderBy, routing, etc." v-model="searchTerm">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>
					<p v-show="searchTerm" class="search-subtitle">Showing {{ filteredSamples.length }} example<span v-show="filteredSamples.length !== 1">s</span>.
				</div>
				<code-sample v-for="code in filteredSamples" 
					v-bind:content="code">
				</code-sample>
			</div>
			<div v-cloak v-show="!filteredSamples.length" class="no-results">
				<p>No results. Do you have an example that would work here? See something that could be improved?</p>
				<p>Reach out on <a href="https://twitter.com/_taylorpalmer">Twitter</a> or by <a href="mailto:tpalmer.ixd@gmail.com">Email.</a></p></div>
			<p v-cloak v-show="filteredSamples.length" style="text-align: center; margin-top: 50px; padding: 15px;">More examples coming soon! See something that's missing? Reach out on <a href="https://twitter.com/_taylorpalmer">Twitter</a> or by <a href="mailto:tpalmer.ixd@gmail.com">Email.</a></p>
		</div>
		<script src="https://unpkg.com/vue@2.1.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/highlightjs@9.8.0"></script>
		<script src="js/code-list.js"/></script>
		<script src="js/app.js"/></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-78846271-2', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>